<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./formulario.component.css">
  <title>Formulario</title>
</head>
<body>

<div class="container">

  <h2 class="mt-5 text-center">Formulario</h2>

  <form [formGroup]="formulario" (ngSubmit)="submit()" class="mt-5">
    <div>
      <label for="userName">Nombre de usuario</label>
      <input type="text" id="userName" formControlName="userName" appValidarNombre>
      <div *ngIf="this.formulario.get('userName')?.errors?.['required'] && this.formulario.get('userName')?.touched" >
       Campo obligatorio.
      </div>
      <div *ngIf="this.formulario.get('userName')?.errors?.['custom'] && this.formulario.get('userName')?.touched" >
       Solo admite letras y debe tener un mínimo de 6 caracteres.
      </div>
    </div>

    <div>
      <label for="pass">Contraseña *</label>
      <input type="password" id="pass" formControlName="pass">
      <div *ngIf="this.formulario.get('pass')?.errors?.['required'] && this.formulario.get('pass')?.touched" >
       Campo obligatorio.
      </div>
      <div *ngIf="this.formulario.get('pass')?.errors?.['pattern'] && this.formulario.get('pass')?.touched" >
       Al menos debes de introducir un mínimo de 8 caracteres letras y números.
      </div>
    </div>

    <div>
      <label for="validPass">Confirmar contraseña</label>
      <input type="password" id="validPass"  formControlName="validPass" appValidarPassword="pass">
      <div *ngIf="this.formulario.get('validPass')?.errors?.['required'] && this.formulario.get('validPass')?.touched">
       Campo obligatorio.
      </div>

      <div *ngIf="this.formulario.get('validPass')?.errors?.['custom'] && this.formulario.get('validPass')?.touched" >
      Contraseñas no coinciden.
      </div>
    </div>

    <div>
      <label for="mail">Correo electrónico</label>
      <input type="email" id="mail" formControlName="mail" appValidarEmail>
      <div *ngIf="this.formulario.get('mail')?.errors?.['required'] && this.formulario.get('mail')?.touched" >Campo obligatorio.</div>
      <div *ngIf="this.formulario.get('mail')?.errors?.['custom'] && this.formulario.get('mail')?.touched" >El correo electrónico no tiene el formato correcto.</div>
    </div>

    <div>
      <label for="estadoCivil">Estado civil</label>
      <select id="estadoCivil" formControlName="estadoCivil">
        <option value="" disabled selected>Elige una opción</option>
        <option value="Soltero/a">Soltero/a</option>
        <option value="Casado/a">Casado/a</option>
        <option value="Divorciado/a">Divorciado/a</option>
      </select>
      <div *ngIf="this.formulario.get('estadoCivil')?.errors?.['required'] && this.formulario.get('estadoCivil')?.touched" >Campo obligatorio.</div>
    </div>

    <div>
      <label>Género</label>
      <label><input type="radio" value="Hombre" formControlName="sexo"> Hombre</label>
      <label><input type="radio" value="Mujer" formControlName="sexo"> Mujer</label>
      <label><input type="radio" value="Otros" formControlName="sexo"> Otros</label>
      <div *ngIf="this.formulario.get('sexo')?.errors?.['required'] && this.formulario.get('sexo')?.touched"> Campo obligatorio.</div>
    </div>

    <div>
      <label>¿De qué quieres recibir información?</label>
      <label><input type="checkbox" value="Accesorios" formControlName="informacion"> Accesorios</label>
      <label><input type="checkbox" value="Videojuegos" formControlName="informacion"> Videojuegos</label>
      <label><input type="checkbox" value="Novedades del mercado" formControlName="informacion"> Novedades del mercado</label>
      <div *ngIf="this.formulario.get('informacion')?.errors?.['required'] && this.formulario.get('informacion')?.touched">Campo obligatorio.</div>
    </div>


    <div>
      <label><input type="checkbox" formControlName="acceptarCondicions"> Aceptar condiciones *</label>
      <div *ngIf="this.formulario.get('acceptarCondicions')?.errors?.['required'] && this.formulario.get('acceptarCondicions')?.touched">Debes aceptar las condiciones.</div>
    </div>

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>

    <div *ngIf="submittedData">
      <h4>Información del Formulario Enviada:</h4>
      <p><strong>Nombre de usuario:</strong> {{ submittedData.userName }}</p>
      <p><strong>Contraseña:</strong> {{ submittedData.pass }}</p>
      <p><strong>Confirmar contraseña:</strong> {{ submittedData.validPass }}</p>
      <p><strong>Correo electrónico:</strong> {{ submittedData.mail }}</p>
      <p><strong>Estado civil:</strong> {{ submittedData.estadoCivil }}</p>
      <p><strong>Género:</strong> {{ submittedData.sexo }}</p>
      <p><strong>Información de interés:</strong> {{ submittedData.informacion }}</p>
      <p><strong>Aceptar condiciones:</strong> {{ submittedData.acceptarCondicions }}</p>
    </div>

  </form>

</div>

</body>
</html>
