<p>Formularios en Angular</p>
<form [formGroup]="formContacto" (ngSubmit)="submit()">
<!--
  touched: he dejado el control, aunque no haya escrito nada -- untouched
  dirty: tengo que escribir dentro para que se de cuenta -- pristine
-->
<p> Nombre:
  <input type="text" formControlName="nombre">
   <span *ngIf="this.formContacto.get('nombre')?.errors?.['required'] && this.formContacto.get('nombre')?.touched">
    El nombre no puede estar vacío
   </span>
   <span *ngIf="this.formContacto.get('nombre')?.errors?.['minlength'] && this.formContacto.get('nombre')?.touched">
    El nombre tiene que tener un mínimo de 5 caracteres
   </span>
   <span *ngIf="this.formContacto.get('nombre')?.errors?.['maxlength'] && this.formContacto.get('nombre')?.touched">
    El nombre tiene que tener un máximo de 20 caracteres
   </span>
</p>
<p> Edad:
  <input type="text" formControlName="edad" mayorEdad>
  <span *ngIf="this.formContacto.get('edad')?.errors?.['required'] && this.formContacto.get('edad')?.touched">
    La edad no puede estar vacía
   </span>
   <span *ngIf="this.formContacto.get('edad')?.errors?.['pattern'] && this.formContacto.get('edad')?.touched">
    La edad tiene que ser numérica
   </span>
   <span *ngIf="this.formContacto.get('edad')?.errors?.['custom'] && this.formContacto.get('edad')?.touched">
    La edad tiene es menor que 18
   </span>
</p>
<p> Email:
  <input type="text" formControlName="email">
  <span *ngIf="this.formContacto.get('email')?.errors?.['required'] && this.formContacto.get('email')?.touched">
    El email no puede estar vacía
   </span>
   <span *ngIf="this.formContacto.get('email')?.errors?.['email'] && this.formContacto.get('email')?.touched">
    El email no tiene el formato correcto
   </span>
</p>

<p> Contrasenya:
  <input type="password" formControlName="contrasenya">
  <span *ngIf="this.formContacto.get('contrasenya')?.errors?.['required'] && this.formContacto.get('contrasenya')?.touched">
    El contrasenya no puede estar vacía
   </span>
   <span *ngIf="this.formContacto.get('contrasenya')?.errors?.['minlength'] && this.formContacto.get('contrasenya')?.touched">
    El contrasenya no puede tener menos de 8 caracteres
   </span>
</p>

<p>Estat civil:
  <select formControlName="estatCivil">
    <option value="Casat/da">Casat/da</option>
    <option value="Solter/a">Solter/a</option>
    <option value="Divorciat/da">Divorciat/da</option>
  </select>
</p>

<p>Sexe:
  <label><input type="radio" value="Dona" formControlName="sexe">Dona</label>
  <label><input type="radio" value="Home" formControlName="sexe">Home</label>
  <label><input type="radio" value="Altres" formControlName="sexe">Altres</label>
</p>

<p>De què vols rebre informació?
  <label><input type="checkbox" formControlName="informacio.videojocs"> Videojocs</label>
  <label><input type="checkbox" formControlName="informacio.accessoris"> Accessoris</label>
  <label><input type="checkbox" formControlName="informacio.novetatsMercat"> Novetats del mercat</label>
</p>
<p>Acceptar condicions:
  <label><input type="checkbox" formControlName="acceptarCondicions"> Acceptar condicions</label>
</p>

<button type="submit" [disabled]="formContacto.invalid">Confirma datos</button>

</form>
<div> {{nom | uppercase}}</div>
<div> {{data | date:'medium' }}</div>
