/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/img/fondo.png);
    background-size: 90% 80%; /* Ajusta el tamaño al 100% del ancho y alto del contenedor */
    background-repeat: no-repeat;
    width: 100vw; /* Establece el ancho del contenedor al 100% del ancho de la ventana */
    height: 100vh; /* Evita la repetición de la imagen */
}