<div class="about-container">
  <div class="text-container">
    <h2>Nosotros</h2>
    <p>
      Somos un equipo apasionado de estudiantes de Ingeniería Aeroespacial y Telecomunicaciones que se unió para crear el emocionante juego “Coches Furiosos”. Nuestra fusión de habilidades en física y telecomunicaciones dio vida a un proyecto que busca ofrecer una experiencia de conducción emocionante. Desde la física precisa hasta los gráficos cautivadores, cada detalle ha sido perfeccionado con dedicación.

      Nuestra visión es sumergir a los jugadores en la adrenalina de las carreras, brindando una experiencia única. Como ingenieros aeroespaciales, aplicamos principios científicos a la creación del juego, mientras que nuestra experiencia en telecomunicaciones se refleja en la conectividad y la experiencia multijugador.

      Agradecemos a todos los que nos apoyaron en este viaje, desde inspiradores profesores hasta amigos y familiares. Este juego no habría sido posible sin su constante aliento. ¡Esperamos que disfrutes jugando tanto como nosotros disfrutamos creándolo!

      ¡Gracias por ser parte de nuestra historia!
    </p>
  </div>

</div>
