body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .date-time {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #loginForm, #courseSelector, #logoutButton {
    display: none;
  }
  
  #bottomDiv {
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
  }
  /* Estilos anteriores... */

#loginForm[readonly] input,
#courses[disabled],
#bottomDiv[disabled] button {
  background-color: #ddd !important;
  cursor: not-allowed;
  color: #777;
}

#cookieMessage button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#cookieMessage button:hover {
  background-color: #45a049;
}
